.container {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr 1.1fr;
    grid-template-rows: 0.3fr 0.6fr 2.8fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  
  .Meny { grid-area: 1 / 3 / 2 / 4;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
  }


a{
  color: black;
  padding: 20px;
}

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
 
  .ForumListe {
    display: grid;
    grid-template-columns: 0.6fr 1.8fr 0.6fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". Lista ."
      ". Lista ."
      ". Lista .";
    grid-area: 3 / 3 / 4 / 4;
    height: 550px;
  }
  
  ul {
      padding: 10px;
  }

  li {
    background-color: rgba(255, 228, 196, 0.726); 
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
  }
  
  .Lista { grid-area: Lista;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(255, 228, 196, 0.61);
    height: auto;
        }
    
    .kommentar {
        font-size: 15px;
        color:rgba(0,0,0, 0.5)
    }
  
  .Logo { grid-area: 1 / 1 / 2 / 2; 
    
    font-size: 17px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    width: 200px;
    height: 80px;
  }
  
  .Generelt-Forum {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 100%; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Forumbox"
      "Forumbox"; 
    grid-area: 3 / 2 / 4 / 3; 
    
  }
    
  .Forum-box {
    grid-area: Forumbox;
    padding: 20px;
    margin: 20px;
    background-color: rgba(197, 197, 197, 0.527);
  }

  
  .Søkefelt { grid-area: 2 / 1 / 3 / 4; 
    background-image: url(http://localhost/TerminOppgave/bilder/download.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 75px;
    margin: 20px;
  }
  
  .Søkebaren {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      "plassen"
      "search";
    grid-area: 2 / 2 / 3 / 3;
  }

  
.search{
  grid-area:search;
}


.plassen { grid-area: plassen;
  text-align: center;
  font-size: 25px;
}
  
.knapp {
  visibility: hidden;
}

#SearchOfThaTea {
  text-align: center;
  padding: 10px;
  position: relative;
  font-size: 25px;
  width: 100%;
}

  .Powered-By-Ev1 { grid-area: 4 / 2 / 5 / 3; }
  