.container {   display: grid; 
  grid-template-columns: 1fr 0.9fr 1.1fr; 
  grid-template-rows: 0.3fr 1.9fr; 
  gap: 0px 0px; 
  grid-template-areas:
    ". . Meny"
    ". Login-Form .";
}

body {
  font-family: 'Raleway', sans-serif;
}



.Login-Form {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.6fr 1.8fr 0.6fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Error"
    "Input"
    "button"; 
  grid-area: Login-Form;
  background-color: rgba(255, 228, 196);
  border: 2px black  solid;
  border-radius: 50px;
}

form {
  text-align: center;
}

.error { grid-area: Error; 
  color: red;
  font-size: 16px;
  text-align: center;
}

  .Meny { grid-area: Meny;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
  }
    
  a{
    color: black;
    padding: 20px;
  }

    a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
  

  input {
    padding: 12px;
    margin: 20px;
  }

    .input {
        grid-area: Input;
    }

    .button {
      grid-area: button;
    }


